:root{

/* ================
    BRAND COLORS
  ================ */
  --brand-primary: #4f46e5;
  --brand-secondary: #4338ca;
  --brand-accent: #06b6d4;
  --brand-cosmic: #00ffc8;

  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --text-muted: #6b7280;
  --text-inverse: #020205;

  --border-color: #374151;
  --border-color-soft: rgba(255, 255, 255, 0.08);

  /* ====================
    BACKGROUND
  ==================== */
  --bg-body: #111827;
  --bg-surface: rgba(255, 255, 255, 0.05);
  --bg-surface-hover: rgba(255, 255, 255, 0.08);
  --bg-header: rgba(2, 2, 5, 0.65);

  /* ===========
    SHADOW
  =========== */
  --shadow-soft: 0 8px 24px rgba(0, 0, 0, 0.25);
}  

.light-theme {
  --bg-body: #ffffff;
  --bg-surface: #f3f4f6;
  --bg-surface-hover: #e5e7eb;
  --bg-header: rgba(255, 255, 255, 0.85);

  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;
  --text-inverse: #ffffff;

  --border-color: #e5e7eb;
  --border-color-soft: rgba(0, 0, 0, 0.08);
}