:root {
  /* =====================
    TYPOGRAPHY
  ===================== */
  --font-main: 'Poppins', sans-serif;
  --font-code: 'Fira Code', monospace;
  --font-fancy: 'Dancing Script', cursive;
  --font-mono: 'JetBrains Mono', monospace;
  --font-terminal: 'Orbitron', monospace;

  /* FONTS */
  --font-xxs: 0.5rem;
  --font-xs: 0.75rem;
  --font-sm: 0.85rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;

  /* WEIGHT */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 800;
  --font-bolder: 900;

  /* =====================
    SPACING
  ===================== */
  --space-none: 0;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-lgx: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;
  --space-xxxl: 4rem;


  /* ===============
    Border Radius
  =============== */ 
  --radius-xs: 4px; 
  --radius-sm: 8px; 
  --radius-md: 12px; 
  --radius-lg: 20px; 
  --radius-pill: 999px; 

  /* =====================
    BORDER SYSTEM
  ===================== */
  --border-thin: 1px;
  --border-medium: 2px;
  --border-thick: 3px;

  /* =============
    BLUR LEVELS 
  ============= */
  --footer-glass-blur: 18px;
  --footer-glass-blur-soft: 10px;
  --footer-glass-blur-strong: 26px;
  
  /* ============
    Tamanhos
  ============ */ 
  --size-xxs: 4px; 
  --size-xs: 8px; 
  --size-sm: 12px; 
  --size-md: 16px; 
  --size-lg: 24px; 
  --size-cursor: 6px;
  --container-max: 1200px; 
  --footer-max-width: 860px;
  
  /* ===============
    HEADER SYSTEM
  =============== */ 
  --header-height: 72px; 
  --blur-header: 12px;

  /* =====================
    Z-INDEX SYSTEM
  ===================== */
  --z-stars: 1;
  --z-nebula: 2;
  --z-beam: 3;
  --z-grid: 4;
  --z-scanning: 10;
  --z-projects: 15;
  --z-content: 20;
  --z-layer-ui: 30;
  --z-indicator: 50;
  --z-wormhole: 100;
  --z-footer: 1000;
  --z-horizon: 1080;
  --z-terminal: 1090;
  --z-header: 1100;
  --z-modal: 2000;

  /* =====================
    OPACITY
  ===================== */
  --op-hidden: 0;
  --op-subtle: 0.4;
  --op-active: 0.8;
  --op-hover: 0.9;
  --op-visible: 1;

  /* =====================
    MOTION
  ===================== */
  --motion-fast: 0.25s ease;
  --motion-medium: 0.4s ease;
  --motion-slow: 0.6s ease;

  /* =====================
    MOTION DELAY
  ===================== */
  --motion-delay-xs: 0.1s;
  --motion-delay-sm: 0.2s;
  --motion-delay-md: 0.3s;
  --motion-delay-lg: 0.4s;
  --motion-delay-xl: 0.5s;
}