.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.loader-svg {
    width: 220px;
    height: 220px;
    shape-rendering: geometricPrecision;
    transform-origin: center;
}