.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    background-color: #121212;
    transition: opacity 0.8s ease;
}

.loader-container.hidden {
    opacity: 0;
    pointer-events: none;
}