/* =========================
  Footer - Estilos Gerais
========================= */
.main-footer {
  padding: 2rem 0;
  border-top: 1px solid var(--border-color);
  transition: border-color 0.3s;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; // Permite quebrar a linha em telas pequenas
  gap: 1rem;
}

.copyright {
  color: var(--text-color);
  font-size: 0.9rem;
  text-align: center;
  flex-grow: 1; // Permite que o texto ocupe espaço
}

/* =========================
  Links Sociais
========================= */
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-grow: 1; // Permite que os ícones ocupem espaço

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--social-icon-color);
    transition:
      color 0.3s,
      transform 0.3s;

    &:hover {
      color: var(--primary-color);
      transform: translateY(-2px);
    }
  }
}

/* =========================
  Responsividade
========================= */
@media (min-width: 768px) {
  .footer-container {
    flex-wrap: nowrap; // Impede a quebra de linha em telas maiores
  }

  .copyright {
    text-align: left;
    flex-grow: 0;
  }

  .social-links {
    justify-content: flex-end;
    flex-grow: 0;
  }
}
