<footer class="main-footer">
  <div class="container">
    <div class="footer-grid-original">
      <div class="footer-column">
        <h4>Links</h4>
        <ul class="footer-list">
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a routerLink="/projetos">Projetos</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Links</h4>
        <ul class="footer-list">
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a routerLink="/projetos">Projetos</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Links</h4>
        <ul class="footer-list">
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a routerLink="/projetos">Projetos</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Tecnologias</h4>
        <div class="tech-icons-original">
          <img src="assets/icons/html5.svg" alt="HTML5"> 
          <img src="assets/icons/css3.svg" alt="CSS3">   
          <img src="assets/icons/javascript.svg" alt="JavaScript">
          <img src="assets/icons/angular.svg" alt="Angular">
        </div>
      </div>
    </div>
    <div class="social-icons">
      <h4>Contato & Perfil</h4>
      <ul class="social-media icons">
        <li>
          <a href="https://www.linkedin.com/in/domisdev/" target="_blank">
            <img src="assets/icons/linkedin.svg" alt="GitHub">
          </a>
        </li>
        <li>
          <a href="https://github.com/Domisnnet/"
          target="_blank">
            <img src="assets/icons/github.svg" alt="LinkedIn">
          </a>
        </li>
        <li>
          <a href="mailto:dominique.goncalves61@gmail.com"
          aria-label="E-mail" target="_blank">
            <img src="assets/icons/e-mail.svg" alt="E-mail">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <nav class="bottom-links">
        <a routerLink="/privacidade-termos">Privacidade & Termos</a>
      </nav>
      <p class="copyright">&copy; 2026 DomisDev — Capturando ideias em código.</p>
    </div>
  </div>
</footer>