<header class="main-header">
  <nav class="nav-container">
    <div class="logo" routerLink="/">
      <span class="logo-dot"></span>
      <span class="logo-text">DomisDev</span>
    </div>

    <ul class="nav-links" [class.open]="isMenuOpen()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/projetos" routerLinkActive="active">Projetos</a></li>
      <li><a href="#contact" class="btn-contact">Contato</a></li>
    </ul>

    <div class="header-actions">
      <button class="hamburger-menu" (click)="toggleMenu()">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12" />
          <line x1="3" y1="6" x2="21" y2="6" />
          <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </button>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </nav>
</header>