<section class="hero hero--enter">
  <div class="hero-container">
    <div class="hero-content">
      <img
        src="assets/images/avatar.png"
        alt="DomisDev Avatar"
        class="hero-avatar"
      />
      <div class="hero-copy">
        <h1 class="hero-title">Olá, eu sou o DomisDev!</h1>
        <h2 class="hero-subtitle">Desenvolvedor Web Frontend</h2>
        <p class="hero-description">
          Desenvolvedor Web Criativo, transformando ideias em realidade digital
          com código limpo e designs modernos.
        </p>  
        <p class="hero-description">
          Estudando desenvolvimento web , com Frameworks Modernos, para me tornar um 
          futuro Desenvolvedor Full Stack.
        </p>
        <div class="hero-cta">
          <app-button
            href="https://github.com/Domisnnet"
            target="_blank"
            size="md"
            variant="outline"
          >
            🐙 GitHub
          </app-button>
        </div>
      </div>
    </div>
  </div>
</section>