:host {
  display: block;
}

.cosmic-button {
  display: flex;
  position: relative;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-md);
  border: 2px solid var(--energy-main);
  background: transparent;
  color: var(--energy-main);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-bold);
  gap: 20px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 15px;

  &.is-dark {
    transform: translateY(-40px);
  }

  .icon {
    width: 20px;
    height: 20px;
    color: var(--energy-main);
    flex-shrink: 0;
  }
}