:host {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;    
  pointer-events: none;
  overflow: hidden;
  z-index: var(--z-cosmic, 1); 
}

.stars-canvas {
  display: block;
  width: 100%;
  height: 100%;
}