:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Garante que fique no fundo
}

.stars-canvas {
  display: block;
  width: 100%;
  height: 100%;
}