/* =================
  CTA container
================= */
.cta {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .cta {
    flex-direction: column;
    align-items: center;
  }
}
