.clamp-3 {
  font-size: 0.8rem;
  line-height: 1.4;
  color: var(--text-color-secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}