/* ================================
   Reset & Base
================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}