/* =================
  SCREEN LOADER
================= */
.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-loader);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-body);
  opacity: var(--op-visible);
  visibility: visible;
  transition: opacity var(--motion-late) var(--easing-standard), visibility var(--motion-late) var(--easing-standard);

  &.hidden {
    opacity: var(--op-hidden);
    visibility: hidden;
    pointer-events: none;
  }
}

/* ===============
  APP CONTENT
=============== */
.app-content {
  opacity: var(--op-hidden);
  transform: translateY(12px);
  transition: opacity var(--motion-content) var(--easing-ease-in), 
  transform 1s cubic-bezier(0.22, 1, 0.36, 1);

  &.visible {
    opacity: var(--op-visible);
    transform: translateY(0);
  }
}

/* ============================
  MAIN LAYOUT ADJUSTMENTS
============================ */
main {
  padding-top: var(--size-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}