/* =============
    Estilização
   ============= */
:host {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 50px;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 0.85rem;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    animation: revealPill 0.5s ease forwards;
    animation-delay: calc(var(--delay) * 0.1s);
}    

/* =================
    Cores do Root
================= */
&.frontend { color: var(--pill-front-text); background: var(--pill-front-bg); border-color: var(--pill-front-border); }
&.backend  { color: var(--pill-back-text); background: var(--pill-back-bg); border-color: var(--pill-back-border); }
&.database { color: var(--pill-db-text); background: var(--pill-db-bg); border-color: var(--pill-db-border); }
&.devops   { color: var(--pill-devops-text); background: var(--pill-devops-bg); border-color: var(--pill-devops-border); }
&.cms { color: var(--pill-cms-text); background: var(--pill-cms-bg); border-color: var(--pill-cms-border);}

&:hover { 
    transform: translateY(-3px) 
    scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    filter: brightness(1.2);
}


.pill-icon {
    width: 20px;
    height: 20px;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
}

@keyframes revealPill {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}