<div class="legal-container">
  <div class="legal-inner">
    <div class="legal-content">
      <h1>Privacidade & Termos</h1>
      <h2>1. Coleta de Dados</h2>
      <p>Este site não coleta informações pessoais identificáveis, como nome, endereço ou número de telefone, a menos
        que você as forneça voluntariamente através de um formulário de contato.</p>

      <h2>2. Uso de Cookies</h2>
      <p>Este site pode utilizar cookies para melhorar a experiência de navegação. Os cookies são pequenos arquivos de
        texto armazenados no seu dispositivo que nos ajudam a entender como você usa o site. Você pode desativar os
        cookies nas configurações do seu navegador a qualquer momento.</p>

      <h2>3. Links para Terceiros</h2>
      <p>Nosso site pode conter links para outros sites que não são operados por nós. Se você clicar em um link de
        terceiro, será direcionado para o site desse terceiro. Aconselhamos vivamente que reveja a Política de
        Privacidade de todos os sites que visitar.</p>

      <h2>4. Seus Direitos</h2>
      <p>Você tem o direito de solicitar acesso, correção ou exclusão de suas informações pessoais que possamos ter.
        Para fazer tal solicitação, entre em contato através dos canais fornecidos.</p>

      <button class="legal-button">
        <a routerLink="/" class="text-color">
          Voltar para a Página inicial
        </a>        
      </button>
    </div>
  </div>
</div>