:host {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  isolation: isolate; 
}

.cosmic-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

.cosmic-root > ng-content {
  position: relative;
  z-index: var(--z-content);
}