/* =============================
   Configurações de variáveis
============================= */   
@use './styles/variables'; 


/* ================
   Base & Reset
================ */   
@use './styles/reset';
@use './styles/global';
@use './styles/layout';

/* ================
   Componentes
================ */   
@use './styles/buttons';
@use './styles/stack';
@use './styles/hero';
@use './styles/cta';
@use './styles/cosmic';

/* ================
   Google Fonts
================ */   
@import url('...'); 