:root {
  --footer-bg-strong: unset;
  --footer-bg-soft: unset;
  --footer-border: unset;
  
  --footer-text-primary: unset;
  --footer-text-secondary: unset;
  --footer-text-ang: unset;
  --footer-text-prod: unset;
  --footer-text-finish: unset;
  --footer-text-frb: unset;
  --footer-text-lgth: unset;
  --footer-text-prj: unset;
  --footer-text-neon: unset;
  --footer-text-neon-rx: unset;

  --footer-accent-rgb: unset;
  --footer-opacity: unset;
  --footer-font-size: unset;
}