:host {
  display: block;
}

.theme-button {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--accent-color);
    background: rgba(255, 255, 255, 0.1);
  }
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 15px;

  &.is-dark {
    transform: translateY(-40px);
  }

  .icon {
    width: 20px;
    height: 20px;
    color: var(--accent-color);
    flex-shrink: 0;
  }
}