<section class="footer-layout">
  <article 
    class="footer-card footer-card--about footer-card--glass-holographic"
    [@cardEnter]
    role="article"
  >
    <header class="footer-header">
      <span class="about-pulse">●</span>
        PORTFOLIO_V1.log
    </header>
    <div class="footer-body">
      <div class="footer-block">
        <p class="footer-content">
          Este portfólio foi construído com <span class="t-mono"> Angular 18 -  Standalone,</span> 
          roteamento lazy-loaded, animações nativas e um design system próprio em SCSS.
        </p>
        <p class="footer-content">
          O <strong> Cosmic Theme </strong> integra partículas animadas e HUD elements
          renderizados em tempo real.
        </p>
        <p class="footer-content">
          O <strong> Solar Theme </strong> integra um Tema que simula a força de uma Estrela e são
          renderizados em tempo real.
        </p>
      </div>
      <div class="footer-block">
        <h4 class="footer-subtitle"> Projetos Principais </h4>
        <ul class="footer-list">
          <li>
            <strong> Shadow-Flip-Oh! </strong>
            <small> Favicon system dinâmico em Vue.Js </small>
          </li>
          <li>
            <strong> Pokedevs </strong>
            <small> Migração HTML → Angular </small>
          </li>
          <li>
            <strong> GitHub Stats </strong>
            <small> Node.js + Firebase real-time </small>
          </li>
        </ul>
      </div>
      <div class="footer-block">
        <h4 class="footer-subtitle"> Arquitetura </h4>
        <div class="stack-grid">
          <span> Firebase Hosting </span>
          <span> Cloud Functions </span>
          <span> Firestore </span>
          <span> GitHub Actions CI/CD </span>
          <span> READMEs Bilíngues </span>
          <span> Acessibilidade ARIA </span>
        </div>
      </div>
      <div class="footer-block">
        <p class="footer-content">
          Este é o <span class="t-neon"> V1.0 </span>  — base sólida para expansão em
          <span class="t-neon-rx"> V2.0 </span> (PWA, SSR e API própria).
        </p>
      </div>
      <footer class="footer-actions">
        <span class="footer-meta executing">
          STACK: ANGULAR + FIREBASE
        </span>
      </footer>
    </div>
  </article>
</section>